.circle {
  width: 100%;
  aspect-ratio: 1/1;
  display: inline-block;
  border: 8px solid var(--accent);
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: 0.5s spin infinite linear;
  margin: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
