.errorContainer {
  background-color: var(--lightRed);
  border: 1px solid red;
  padding: 1rem;
  margin: 0.5rem;
}

.errorP {
  text-transform: lowercase;
  text-align: left;
  color: red;
  width: fit-content;
  margin: 0;
  max-width: 200px;
  font-weight: bold;
}

.errorP::first-letter {
  text-transform: capitalize;
}

.errorContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}
