.circle {
  width: 100%;
  aspect-ratio: 1/1;
  display: inline-block;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top-color: var(--accent);
  animation: 1s spin infinite linear;
  margin: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
