.popup {
  position: absolute;
  border-radius: 7px;
  border: 1px solid var(--lightGrey);
  background-color: white;
  width: min-content;
  height: min-content;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
  float: left;
  animation: openPopup 0.1s ease-out;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--accent);
}

.button:hover {
  background-color: var(--grey);
}

.buttonContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.iconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  aspect-ratio: 1/1;
}

@media only screen and (max-width: 600px) {
  .popup {
    right: 0;
    margin-right: 10px;
  }
}

@keyframes openPopup {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
