.chatWrapper {
  flex-direction: column;
  display: flex;
  height: 50%;
  flex-grow: 1;
  width: 100%;
}

.controls {
  margin-bottom: 15px;
}

.chatsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
}

.chatsHeading {
  margin: 0;
}

.addChatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: 0.2s;
}

.addChatButton:hover {
  background-color: var(--accentHover);
}

.chats {
  height: 50%;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.noMatch {
  opacity: 0.5;
}
