.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 14px;
  width: 400px;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}

.heading {
  margin: 0;
  padding: 0;
  text-align: center;
}

.interactiveContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 72px;
  height: 72px;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.successMessage {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
