.groupchatSettings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 90%;
  margin-top: 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.groupchatSettingsHeading {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.picChanger {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}
