.main {
  display: flex;
  height: 100%;
  width: 100%;
}

.chatContainer {
  width: 50%;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    min-width: 100%;
  }

  div#closed.sidebar {
    display: none;
  }

  div#closed.chatContainer {
    display: none;
  }
}
