.main {
  height: 70%;
  display: flex;
  justify-content: flex-end;
  background: url(../assets/images/login-bg.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 15%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 400px;
  background-color: rgb(254, 254, 255);
}

@media only screen and (max-width: 800px) {
  .content {
    width: 100%;
    min-width: 260px;
  }
  .main {
    background: none;
  }
}
