.mediaWrapper {
  position: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: 350px;
}

.imageWrapper {
  position: relative;
  display: block;
  width: 100%;
  height: min-content;
}

.videoPlayer {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .mediaWrapper {
    width: 70vw;
    min-width: 200px;
  }
}
