.main {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 2rem;
  max-width: 700px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.statusCode {
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 15px;
}

.description {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}
