.participantMessageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: max-content;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
}

.ownMessageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: max-content;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
}

.contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  min-height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.participantContent {
  color: white;
  background-color: var(--accent);
}

.userContent {
  color: black;
  background-color: var(--lightestGrey);
}

.participantMessageInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.textContent {
  padding: 0;
  margin: 0;
  width: 100%;
}

.username {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 10px;
  margin-left: 5px;
}

.timestamp {
  padding: 0;
  margin: 0;
  color: var(--grey);
  font-size: 10px;
}

#preview {
  color: var(--grey);
}

.imageWrapper {
  margin: 0.5rem 0;
  position: relative;
  width: 160px;
  height: 90px;
}
