.participantMessageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: max-content;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
}

.ownMessageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: max-content;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
}

.contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 0.25rem;
  border-radius: 1rem;
  gap: 0.25rem;
}

.participantContent {
  color: white;
  background-color: var(--accent);
}

.userContent {
  color: black;
  background-color: var(--lightestGrey);
}

.participantMessageInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.textContent {
  padding: 0.25rem 0.5rem;
  margin: 0;
  width: 100%;
}

.username {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 10px;
  margin-left: 5px;
}

.timestamp {
  padding: 0;
  margin: 0;
  color: var(--grey);
  font-size: 10px;
}

#preview {
  color: var(--grey);
}

.imageWrapper {
  position: relative;
  width: 160px;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
}

.videoWrapper {
  position: relative;
  width: 160px;
  height: 90px;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  z-index: 1;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  cursor: pointer;
}

.playButton:hover {
  opacity: 1;
}

.playImageWrapper {
  position: relative;
  width: 50%;
  height: 50%;
}

.videoPlayer {
  width: 100%;
}

.audioPlayer {
  width: min-content;
  min-width: 100px;
  height: 50px;
  padding: 0.5rem;
}
