.container {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  min-width: 95px;
  min-height: 110px;
  max-width: 95px;
  max-height: 110px;
  transition: 0.2s;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid var(--lightGrey);
}

.container:hover {
  background-color: var(--accentHover);
}

.upper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.lower {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.name {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  font-family: var(--inter);
}

.profilePicture {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.image {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}