.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-width: 250px;
  width: 400px;
  height: 550px;
  border-radius: 7px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: min-content;
  width: 100%;
  background-color: white;
}

.heading {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 80%;
  color: var(--accent);
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 50%;
  flex-grow: 1;
  margin: 20px 0;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .header {
    border-radius: 0;
  }
}
