.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.selector {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  gap: 20px;
}

.selectorLabel {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selectorElement {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 10px;
  flex-grow: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: black;
}

.selectorElement:hover {
  border-bottom: 2px solid var(--accentHover);
}

#active.selectorElement {
  cursor: unset;
  border-bottom: 2px solid var(--accent);
}

.selectorLabelText {
  padding: 0;
  margin: 0;
}
