.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  max-width: 500px;
  min-width: min-content;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-width: 250px;
  gap: 20px;
}

.errorP {
  font-weight: bold;
  text-align: center;
  color: red;
}

.cancelButton {
  background-color: transparent;
  border: none;
  color: var(--accent);
  width: 70%;
  margin-top: 10px;
  height: 50px;
  cursor: pointer;
}

.cancelButton:hover {
  text-decoration: underline;
}
