.requestsContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 5px;
  width: 100%;
}

.heading {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: black;
}
