.contacts {
  height: 10%;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  flex-grow: 1;
}
