.layoutContainer {
  height: 100%;
}

.mainHeader {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
