.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 250px;
  min-height: min-content;
}

.emailEmphasis {
  color: #55b0ff;
}

.heading {
  margin: 0;
}

.info {
  max-width: 35ch;
  color: gray;
}

.homeButton {
  background-color: transparent;
  font-weight: bold;
  border: none;
  color: var(--accent);
  width: 70%;
  margin-top: 10px;
  height: 50px;
  cursor: pointer;
}

.homeButton:hover {
  text-decoration: underline;
}
