.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 270px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: 0;
}

.heading {
  color: black;
}
