.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 270px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: 0;
}

.inputField {
  margin: 0;
  transform: translateZ(0);
  border-radius: 0;
  border: none;
  border: 1px solid rgb(225, 225, 225);
  outline: none;
  background-color: rgb(250, 250, 250);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  font-weight: bold;
}

.inputField:focus {
  background-color: white;
  border: 1px solid #06f;
}

.inputField::placeholder {
  color: rgb(100, 100, 100);
}

.submitButton {
  margin: 0;
  border-radius: 0;
  background-color: #06f;
  height: 50px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.errorP {
  font-weight: bold;
  color: red;
}

.submitButton:hover {
  background-color: rgb(41, 126, 255);
}

.switchButtonContainer {
  margin-top: 10px;
  text-align: center;
  width: 90%;
}

.switchButton {
  width: 50%;
  height: 50px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  color: #06f;
}

.switchButton:hover {
  text-decoration: underline;
}
