.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 270px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: 0;
}

.heading {
  color: black;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-radius: 0;
  border: none;
  border: 1px solid rgb(225, 225, 225);
  outline: none;
  background-color: rgb(250, 250, 250);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
}

.innerInput {
  width: 80%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.innerInput::placeholder {
  opacity: 1;
  color: rgb(100, 100, 100);
}

.inputWrapper:focus-within {
  background-color: white;
  border: 1px solid var(--accent);
}

.showPasswordButton {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background: url(../assets/images/eye-open.svg);
  background-size: cover;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.showPasswordButton:hover {
  opacity: 1;
}

.hidePasswordButton {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background: url(../assets/images/eye-close.svg);
  background-size: cover;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.hidePasswordButton:hover {
  opacity: 1;
}

.inputField {
  margin: 0;
  border-radius: 0;
  border: none;
  border: 1px solid rgb(225, 225, 225);
  outline: none;
  background-color: rgb(250, 250, 250);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  font-weight: bold;
}

.inputField:focus {
  background-color: white;
  border: 1px solid var(--accent);
}

.inputField::placeholder {
  opacity: 1;
  color: rgb(100, 100, 100);
}

.submitButton {
  margin: 0;
  border-radius: 0;
  background-color: var(--accent);
  height: 50px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.errorP {
  font-weight: bold;
  text-align: center;
  color: red;
}

.submitButton:hover {
  background-color: var(--accent-lighter);
}

.switchButtonContainer {
  margin-top: 10px;
  text-align: center;
  width: 90%;
}

.switchButton {
  width: 50%;
  height: 50px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  color: var(--accent);
}

.switchButton:hover {
  text-decoration: underline;
}
