.mainChat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chatContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 50%;
  width: 100%;
}

.messageContainer {
  display: flex;
  height: 90%;
  width: 90%;
  overflow-y: scroll;
}

.bottomControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.sendFormWrapper {
  margin: 0 auto;
  width: 50%;
  min-width: 250px;
  max-width: 600px;
}
