.mainChat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chatHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  clip-path: inset(-5px -5px -5px 0px);
}

.chatContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 50%;
  width: 100%;
}

.messageContainer {
  display: flex;
  height: 90%;
  width: 90%;
  overflow-y: scroll;
}

.innerChatHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 5px;
}

.chatInfo {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 10px;
}

.profilePicture {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.nameAndLastOnline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatName {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.lastOnline {
  color: var(--grey);
  margin: 0;
  font-weight: 300;
}

.bottomControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.sendFormWrapper {
  margin: 0 auto;
  width: 50%;
  min-width: 250px;
  max-width: 600px;
}
