.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.attachmentButton {
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.symbol {
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.2s;
}

.buttonWrapper:hover .symbol {
  opacity: 1;
  filter: none;
}
